nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 40px;
  background: transparent;
  z-index: 9999;
}


.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;   
  margin: 0 auto;  
}

.nav-left {
  margin-left: 100px;
  display: flex;
  gap: 100px;
}


.nav-right {
  display: flex;
  gap: 100px;                        
}


nav a {
  color: black;
  text-decoration: none;
  font-family: 'Cinzel Decorative';
  font-size: 25px;
}

img{
  width: 100%;
    height: 900px;
    position: relative;
    z-index: 1;
}