* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 40px;
  background: transparent;
  z-index: 9999;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
  margin: 0 auto;
}

.nav-left {
  margin-left: 100px;
  display: flex;
  gap: 100px;
}

.nav-right {
  display: flex;
  gap: 200px;
}

nav a {
  color: black;
  text-decoration: none;
  font-family: 'Cinzel Decorative';
  font-size: 29px;
  font-weight:500;
}

.texto-principeCruel{
      position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 90px;
    font-family: 'Cinzel Decorative';
    text-align: center;
}

img {
  display: block;
  width: 100%;
  height: 900px;
}

.mapa{
  position: relative;
  width: 100%;
  height: 1000px;
}

.Elfhame{
width: 100%;
  height: 1000px;
}

.quadro-preto {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* 60% opacidade */
  z-index: 100; 
}

.titulo-mapa{
      position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#F0E68C;
    font-size: 60px;
    font-family: 'Cinzel Decorative';
    text-align: center;
    z-index: 100;
    width:1000px;
}
.texto-mapa{
      position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-size: 30px;
    font-family: 'Roboto';
    text-align: center;
    z-index: 100;
    width:1800px;
}

.titulo-historia{
  position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#F0E68C;
    font-size: 60px;
    font-family: 'Cinzel Decorative';
    text-align: center;
    z-index: 100;
    width:1000px;
}

.texto-historia{
  position: absolute;
    top: 73%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-size: 30px;
    font-family: 'Roboto';
    text-align: center;
    z-index: 100;
    width:1800px;
}