* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1A1A1A;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 40px;
  background: transparent;
  z-index: 9999;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
  margin: 0 auto;
}

.nav-left {
  margin-left: 100px;
  display: flex;
  gap: 100px;
}

.nav-right {
  display: flex;
  gap: 200px;
}

nav a {
  color: black;
  text-decoration: none;
  font-family: 'Cinzel Decorative';
  font-size: 29px;
  font-weight:500;
}

.texto-principeCruel{
      position: absolute;
    top: 450px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 110px;
    font-family: 'Cinzel Decorative';
    text-align: center;
}

img {
  display: block;
  width: 100%;
  height: 900px;
}

.mapa{
  position: relative;
  width: 100%;
  height: 1000px;
}

.Elfhame{
width: 100%;
  height: 1000px;
}

.quadro-preto {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); 
  z-index: 100; 
}

.titulo-mapa{
      position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#F0E68C;
    font-size: 60px;
    font-family: 'Cinzel Decorative';
    text-align: center;
    z-index: 100;
    width:1000px;
}
.texto-mapa{
      position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-size: 30px;
    font-family: 'Roboto';
    text-align: center;
    z-index: 100;
    width:1800px;
}

.titulo-historia{
  position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#F0E68C;
    font-size: 60px;
    font-family: 'Cinzel Decorative';
    text-align: center;
    z-index: 100;
    width:1000px;
}

.texto-historia{
  position: absolute;
    top: 73%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-size: 30px;
    font-family: 'Roboto';
    text-align: center;
    z-index: 100;
    width:1800px;
}

.cards-personagens {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  width: 90%;
  margin: 0 auto;
   padding-bottom: 100px;
}

/* CARD BASE */
.card-personagem {
  width: 100%;
  height: 300px;   
  background-color: #222;
  border-radius: 10px;
  padding: 25px 25px;
  position: relative;
  overflow: hidden;
}

.cardan .card-img {
    width: 750px;   
    top: 10px;     
    right: -165px;   
}

.vivi .card-img {
    width: 750px;   
    top: -20px;     
    right: 30px;  
    transform: scaleX(-1); 
}

.Nicassia .card-img{
  transform: scaleX(-1);
  right: 12px;
}

.taryn .card-img {
    width: 800px;  
    top: -65px;     
    right: 70px;  
    transform: scaleX(-1);
}

.oak .card-img{
  right: 10px;
}

.madoc .card-img{
 width: 1000px;  
    top: -100px;     
    right: -65px; 
    transform: scaleX(-1);
  
}

.dain .card-img{
  transform: scaleX(-1);
  right: 10px;
}

.balekin .card-img{
  width: 750px;   
    top: -30px;     
    right: 55px; 
}
.Bomba .card-img{
  width: 700px;   
    top: -15px;     
    right: 100px; 
}

.Barata .card-img{
   right: -15px;
}

.Oriana .card-img{
   width: 1000px;   
    top: -100px;     
    right: -30px; 
    transform: scaleX(-1);
}

.Fantasma .card-img{
    width: 700px;   
    top: -30px;     
    right: 110px; 
    transform: scaleX(-1);
}

.Valerian .card-img{
   width: 900px;   
    top: -50px;     
    right: -25px; 
    transform: scaleX(-1);
}

.Locke .card-img{
  right: 10px; 
}

.card-img {
  position: absolute;
  right: 10px;  
  top: -63px;    
  width: 900px;   
  height: auto;
  object-fit: contain;
  pointer-events: none;
}

.conteudo {
  z-index: 2;
  max-width: 380px;
  margin-left: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titulo-personagens{
  color: #E0CE79;
  font-size: 100px;
  display: flex;
  justify-content: center;
  font-family: "Cinzel Decorative", serif;
}

.subtitulo-personagens{
font-family: "Cinzel";
display: flex;
justify-content: center;
font-size: 40px;
color: white;
}

.titulo {
  font-family: "Cinzel Decorative", serif;
  font-size: 40px;
  line-height: 1; 
  color: #E0CE79;
  margin-bottom: 12px;
}


.texto {
  color: #ddd;
  font-size: 14px;
  line-height: 1.4;
}

.jude {
  background-color: #2d2d2d;
}

.cardan {
  background-color: #3b1f1f;
}

.madoc {
  background-color: #4A282F;
}

.oak {
  background-color: #C3906A;
}
.balekin{
background-color: #3C4249;
}

.dain{
  background-color: #493E33;
}

.vivi{
background-color: #3B473A;
}

.Locke{
background-color: #82472D;
}

.Nicassia{
background-color: #7D9298;
}

.Barata{
background-color: #818155;
}

.Fantasma{
background-color: #2C2A32;
}

.Valerian{
background-color: #432726;
}

.Bomba{
background-color: #6B4A3C;
}

.taryn{
  background-color: #5F3725;
}

.Oriana{
  background-color: #b9a4a5;
}

.banner-compra {
    position: relative;
    width: 100%;
    height: 900px;  
    overflow: hidden;
}

/* Fundo */
.banner-compra .fundo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

/* Imagem dos 3 livros */
.banner-compra .livros {
    position: absolute;
    height: 1700px;
    width: 2700px;        /* AUMENTE AQUI sem afetar o texto */
    left: -600px;         /* ajuste horizontal */
    top: -200px;          /* ajuste vertical */
    z-index: 101;
}

/* Bloco fixo do texto */
.banner-compra .info {
    position: absolute;
    right: 220px;        /* posição EXATA igual sua foto */
    top: 160px;
    z-index: 120;
    text-align: left;
}


.nome-autora {
    font-family: "Island Moments", cursive;
    font-size: 60px;
    margin-bottom: -10px;
    z-index: 150;
    color: white;
}


.nome-livro {
    font-family: "Cinzel Decorative", serif;
    font-size: 70px;
    margin-bottom: 30px;
    z-index: 120;
    color: white;
    font-weight: 100;
}


.botao-comprar {
    background: white;
    color: black;
    padding: 15px 35px;
    font-size: 20px;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    transition: 0.3s;
}

.botao-comprar:hover {
    background: #333;
}

.quadro-preto2{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); 
  z-index: 100; 
}

/* FOOTER */

.footer {
  background-color: #32b9cd;
  height: 150px;
  color: #fff;
  display: flex;
  font-size: 15px;
}

.footer .container {
  justify-content: center;
  text-align: center;
}

.footer .container .version {
  font-size: 12px;
}

/* LOGIN */

.login {
  height: var(--tamanho-login);
  background-image: url('../assets/imgs/bg-jelly-fish-para-home.png');
  background-size: cover;
}

.login .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  width: 50%;
  background-color: #e5e5e5;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: palevioletred;
  flex-direction: column;
  height: fit-content;
  padding: 20px 0;
}

.card h2 {
  margin: 0;
  font-size: 30px;
}

.formulario {
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
}

.formulario span {
  font-size: 15px;
  font-weight: 800;
}

.formulario input {
  border: 2px solid #32b9cd;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.formulario select {
  border: 2px solid #32b9cd;
  background-color: white;
  color: gray;
  height: 36px;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
}

.botao {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: #ED145B;
  width: 120px;
  height: 30px;
  align-self: center;
  margin-top: 20px;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

/* FORMULARIO */

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #ED145B 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #32b9cd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #ED145B;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* SIMULADOR */

.simulador {
  color: white;
}

.simulador .container {
  flex-direction: column;
  overflow: scroll; 
  height: var(--tamanho-simulador);
}

/* ALERTA */

#alerta {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mensagem-alarme {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  margin: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mensagem-alarme h3 {
  font-size: 14px;
  margin: 0;
}

.mensagem-alarme .informacao {
  width: 66%;
}

.alarme-sino {
  width: 48px;
  height: 48px;
  animation-name: bell;
  animation-duration: 4s;
  background-image: url('https://cdn-icons-png.flaticon.com/512/1157/1157000.png');
  background-size: cover;
  animation-iteration-count: infinite;
}

@keyframes bell {
  0%   {transform: rotate(25deg)}
  25%  {transform: rotate(-25deg)}
  50%  {transform: rotate(25deg)}
  75%  {transform: rotate(-25deg)}
  100% {transform: rotate(25deg)}
}